.post {
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #252525;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 50px;
  margin-top: 2rem;
}

.dark .post {
  color: #fff;
}

.post article img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.post a{
  color: #5a43f1;
  text-decoration: underline 2px;
}

.post a:hover{
  color: #eee;
  background-color: #5a43f1;
  text-decoration: none;
}

.dark .post a{
  color: #9ca0fa;
}

.dark .post a:hover{
  color: #2c2c2c;
  background-color: #9ca0fa;
}

.post article{
  max-width: 700px;
}

.post h1{
  font-size: 2.6rem;
  margin: 0 0 1.5rem;
}

.post article h2{
  font-size: 2rem;
  margin: 3rem 0 1rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;

}

.dark .post article h2{
  border-bottom:1px solid #2c2c2c;
}

.post h3{
  color: #2c2c2c;
  font-size: 1.3rem;
  margin: 3rem 0 1rem;
}

.dark .post h3{
  color: #e6e6e6;
  
}
.post p{
  font-size: 1.05rem;
  line-height: 1.625;
  color: #2c2c2c;
  margin: 0 0 1.5rem;
}

.post li{
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #2c2c2c;
}

.post .side p, .post .side li{
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
}

.dark .post p, .dark .post li{
  color: #e6e6e6;
}

.post ul{
  padding-left: 1.5rem;
}

.side{
  box-sizing: border-box;
}

.side h2{
  font-size: 1rem;
  margin: 0;
}
.side div{
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.dark .side div{
  background-color: #1f1f1f;
}

.side .about-me p{
  margin-bottom: 1rem;
}

.side .about-me p:last-child{
  margin-bottom: 0;
}

.side .about-me img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 1rem 0;
  border-radius: 7px;
}

.comments{
  width: 100%;
}

.comments h3{
  font-size: 1.7rem;
  margin-bottom: 0;
}


@media only screen and (max-width:850px){
  .post{
    grid-template-columns: 1fr;
  }

  .post h1{
    font-size: 2.2rem;
  }

  .post article h2{
    font-size: 1.8rem;
  }

  .post h3{
    font-size: 1.2rem;
  }

  .post article img{
    max-height: 250px;
  }

  .post .comments h3{
    font-size: 1.5rem;
  }

  .post article p, .post article li{
    font-size: 1rem;
  }
}