body{
  padding: 0;
  margin: 0;
  background-color: #eee;
  transition: 0.3s;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark{
  background-color: #131313;
  color: #f9f9f9;
}

@media only screen and (max-width:900px){
  .lock-scroll{
    height: fit-content;
    overflow: hidden;
  }
}